.DS_Store
.idea
k8s-environment-override.ini
*.pyc
*.iml
.vscode
.ssh
values-overrides.yaml
base.id
clientbase.id
sparkbase.id
build.id
ver.lock
*.log
bootstrap/virtualenv
bootstrap/src/virtualenv
env/azure/virtual_env
src/operators/drill/drill-operator/tmp/_output/bin/drill-operator
tools/*.yaml
tools/*.info
scratch
bootstrap/src/bootstrap_uninstall.py
